:root {
    /* colors */
    --light:                #FEFEFE;
    --dark:                 #0E0E0E;
    --primary:              #527d3c;
    --primary-dark:         #5f6350;
    --primary-light:        #F9FAF5;

    --accent-lavender:      #bbacc4;
    --accent-lavender-light:#faf6fc;

    --accent-olive:         #68737a;
    --accent-olive-light:   #b3bdc4;

    --danger: #ff6d63;


    /* fonts */
    --font-default:         'Poppins', sans-serif;
}

body {
    background-color: var(--light);
}

/* sidebar */
.sidebar {
    padding: 32px;
    font-size: 14px;
    padding-right: 0;
    max-width: 250px;
    line-height: 32px;
    overflow-y: hidden;
    background-color: var(--primary-light);
}

.sidebar .navigation {
    overflow-y: auto;
    padding-right: 32px;
    height: calc(100% - 70px);
}

.sidebar h3 {
    font-size: 20px;
    color: var(--dark);
    margin-bottom: 16px;
}

.sidebar li + li {
    margin-top: 8px;
}

.sidebar, .sidebar a {
    color: var(--primary-dark);
}

.sidebar a:hover,
.sidebar a:focus,
.sidebar a:active,
.sidebar .active a {
    font-weight: 600;
    color: var(--primary);
}

.sidebar .icon {margin-right: 8px;}

.sidebar .nav-section {
    margin-top: 32px;
}